# accelerate==0.19
accelerate==1.7.0
torch==2.6.0
torchvision==0.21.0
torchaudio
# git+https://github.com/huggingface/diffusers.git
diffusers==0.33.0
git+https://github.com/cloneofsimo/lora.git
git+https://github.com/microsoft/LoRA
transformers==4.51.3
einops
decord
tqdm
safetensors
omegaconf
opencv-python
pydantic
compel
